@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&family=Teko:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    /* cursor: none; */
    font-family: "Teko", sans-serif;
    overflow-x: hidden;
}

p, li, strong, i, h1, h2, h3, h4, h5, h6 {
    cursor: default;
}

.background-set {
    width: 100vw;
    height: 100vh;
}

.background-set .bg-background {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url('../images/bg_background.png') center no-repeat;
    background-size: cover;
    filter: blur(1px);
}

.background-set .bg-main {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url('../images/bg_main.png') center no-repeat;
    background-size: cover;
}

.background-set .bg-foreground {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url('../images/bg_foreground.png') center no-repeat;
    background-size: cover;
    filter: blur(3px);
}

.background-set .bg-black {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.35) 25%, rgba(0,0,0,0.25) 50%, rgba(0,0,0,0.35) 75%, rgba(0,0,0,1) 100%);
    opacity: 1;
}

.cursor-set {
    position: fixed;
    width: 100px;
    height: 100px;
    z-index: 3;
    opacity: 1;
    transform: scale(1) translate(-32px, -20px);
    transition: opacity .5s ease, transform .3s ease;
}

.cursor-set .cursor-main {
    position: fixed;
    width: 100px;
    height: 100px;
    z-index: 9999;
    background: url('../images/cursor/cursor_main.png') top left no-repeat;
    background-size: contain;
}

.cursor-set .cursor-outline-1 {
    position: fixed;
    width: 100px;
    height: 100px;
    z-index: 9999;
    background: url('../images/cursor/cursor_outline_1.png') top left no-repeat;
    background-size: contain;
    opacity: .5;
    animation: rotate 5s linear infinite;
}

.cursor-set .cursor-outline-2 {
    position: fixed;
    width: 100px;
    height: 100px;
    z-index: 9999;
    background: url('../images/cursor/cursor_outline_2.png') top left no-repeat;
    background-size: contain;
    opacity: .5;
    animation: rotate 3s linear infinite;
}

.cursor-set .cursor-outline-3 {
    position: fixed;
    width: 100px;
    height: 100px;
    z-index: 9999;
    background: url('../images/cursor/cursor_outline_3.png') top left no-repeat;
    background-size: contain;
    opacity: .5;
    animation: rotateR 5s linear infinite;
}

.cursor-set .cursor-outline-4 {
    position: fixed;
    width: 100px;
    height: 100px;
    z-index: 9999;
    background: url('../images/cursor/cursor_outline_4.png') top left no-repeat;
    background-size: contain;
    opacity: .5;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateR {
    100% {
        transform: rotate(0deg);
    }
    0% {
        transform: rotate(360deg);
    }
}

.decoration.dec-1 {
    position: fixed;
    top: 0;
}

.decoration.dec-2 {
    position: fixed;
    bottom: 0;
    right: 50px;
}

.decoration .box {
    width: 20px;
    height: 20px;
    background: #fff;
    margin: 20px;
}

.o1 {
    opacity: 1;
    animation: rot 1s linear infinite;
}

.o75 {
    opacity: .75;
    animation: rot2 2s linear infinite;
}

.o5 {
    opacity: .5;
    animation: rot 3s linear infinite;
}

.o25 {
    opacity: .25;
    animation: rot2 4s linear infinite;
}

.page {
    position: absolute;
    margin: auto;
    top: 0;
    z-index: 10;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rot2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

nav.navbar {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    top: 0;
    width: 100vw;
    margin: 20px auto;
    z-index: 99;
}

nav.navbar .burger-menu {
    display: none;
}

nav.navbar .nav-item {
    font-size: x-large;
    color: #fff7;
    transition: .3s ease;
    border-bottom: 1px solid #fff0;
}

nav.navbar .nav-item:hover {
    font-size: xx-large;
    color: #ffff;
    border-bottom: 1px solid #fff0;
    cursor: pointer;
}

nav.navbar .nav-item.active {
    font-size: xx-large;
    color: #ffff;
    border-bottom: 1px solid #ffff;
}

@media screen and (orientation: portrait) {
    nav.navbar {    
        display: block;
        background-color: #fff0;
        padding: 10px 0;
        margin: 0;
        text-align: center;
        backdrop-filter: blur(0px);
        transition: .3s ease;
    }

    nav.navbar .nav-item {
        color: #000a;
        height: 0;
        overflow: hidden;
        transition: .3s ease, height .75s ease;
    }

    nav.navbar .nav-item:hover {
        color: #000f;
    }

    nav.navbar .nav-item.active {
        color: #000f;
        border-bottom: 1px solid #0000;
    }

    nav.navbar .burger-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 50px;
        height: 50px;
        overflow: hidden;
        margin: auto;
        transition: .3s ease;
        cursor: pointer;
    }

    nav.navbar .burger-menu:hover {
        background: white;
        border-radius: 50%;
    }

    nav.navbar .burger-menu .bm-line {
        width: 25px;
        height: 5px;
        margin: auto -15px;
        margin-top: 24px;
        background: white;
        transition: .3s ease;
    }

    nav.navbar .burger-menu.active .bm-line,
    nav.navbar .burger-menu:hover .bm-line {
        background: black;
    }

    nav.navbar .burger-menu .bm-line:nth-of-type(1) {
        transform: rotate(45deg);
    }

    nav.navbar .burger-menu .bm-line:nth-of-type(2) {
        transform: rotate(-45deg);
    }

    nav.navbar .burger-menu.active .bm-line:nth-of-type(1) {
        transform: rotate(-45deg);
    }

    nav.navbar .burger-menu.active .bm-line:nth-of-type(2) {
        transform: rotate(45deg);
    }
}

.page-indicator {
    position: fixed;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    top: 0;
    right: 20px;
}

.page-indicator .page-item {
    display: inline;
    width: 10px;
    height: 10px;
    background: #fff7;
    margin: 10px;
    border-radius: 50%;
    transition: .3s ease;
}

.page-indicator .page-item.active {
    background: #ffff;
}

.page-indicator .page-top, .page-indicator .page-bottom {
    display: inline;
    width: 15px;
    height: 3px;
    background: #ffff;
    margin: 10px;
}

section {
    position: fixed;
    display: flex;
    top: 0;
    width: 100vw;
    height: 0;
    opacity: 0;
    justify-content: center;
    align-items: center;
    transition: .3s ease;
    overflow: hidden;
}

section.active {
    height: 100vh;
    opacity: 1;
}

.logo-tokyo {
    width: 1024px;
    height: 1024px;
    background: url('../images/logo/logo-putih.png') center no-repeat;
    transition: .3s ease;
    margin: auto;
    transform: scale(1);
    cursor: pointer;
}

.logo-tokyo:hover {
    background: url('../images/logo/Logo-Kota.png') center no-repeat;
    transform: scale(1.027);
}

.connect-tokyo {
    width: calc(626px / 1.2);
    height: calc(297px / 1.2);
    /* background: url('../images/buttons/fivem.png') center no-repeat; */
    background-size: contain;
    transition: .3s ease;
    margin: auto;
    transform: scale(1);
    cursor: pointer;
}

.connect-tokyo:hover {
    transform: scale(1.027);
}

/* .discord-tokyo {
    width: calc(626px / 1.2);
    height: calc(297px / 1.2);
    background: url('../images/buttons/discord.png') center no-repeat;
    background-size: contain;
    transition: .3s ease;
    margin: auto;
    transform: scale(1);
    cursor: pointer;
} */

.discord-tokyo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    border: 5px solid white;
    padding: 10px 20px;
    border-radius: 20px;
    transition: .3s ease;
}

.discord-tokyo .logo {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.discord-tokyo .logo svg {
    width: 100px;
    height: 100px;
    overflow: hidden;
    transition: .3s ease;
}

.discord-tokyo .text {
    font-size: 50px;
    margin-left: 20px;
    transition: .3s ease;
}

.discord-tokyo:hover {
    transform: scale(1.027);
    /* border: 5px solid #5865F2; */
    border: 5px solid #00c7ae;
    background: #fc003baa;
    backdrop-filter: blur(2px);
}

.discord-tokyo:hover .logo svg {
    color: #fff;
}

.discord-tokyo:hover .text {
    color: #fff;
}

article.article {
    height: 80vh;
    width: 80vw;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 20px;
    color: #fffe;
    background: #000a;
    backdrop-filter: blur(2px);
    font-size: x-large;
    scrollbar-width: thin;
    transition: .3s ease;
}

article.article-no-style {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80vw;
    padding: 10px;
    border: 1px solid #0000;
    border-radius: 10px;
    margin-top: 20px;
    color: #fffe;
    background: #0000;
    backdrop-filter: blur(0px);
    font-size: x-large;
    scrollbar-width: thin;
    transition: .3s ease;
}

article.article::-webkit-scrollbar {
    width: 4px;
}

article.article::-webkit-scrollbar-track {
    background: #000a;
}

article.article::-webkit-scrollbar-thumb {
    background: #888;
}

article.article-no-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    width: 80vw;
    padding: 10px;
    border: 1px solid #0000;
    border-radius: 10px;
    margin-top: 20px;
    color: #fffe;
    background: #0000;
    backdrop-filter: blur(0px);
    font-size: x-large;
    scrollbar-width: thin;
    transition: .3s ease;
}

article.article .article-group {
    margin: 10px;
    background: #000a;
    backdrop-filter: blur(2px) !important;
    padding: 10px;
    border-radius: 10px;
}

article.article .article-group .article-title {
    cursor: pointer;
}

article.article .article-group .article-title::before {
    content: '';
    margin-right: 20px;
    padding-left: 20px;
}

article.article .article-group .article-content {
    height: 0px;
    transition: .3s ease;
}

@media screen and (orientation: portrait) {
    article.article {
        margin-top: 0;
        font-size: large;
    }
}

ol, ul {
    margin-left: 30px;
    cursor: default;
}

li .number {
    display: inline-block;
    width: 25px;
    margin-bottom: -11px;
    text-align: right;
    padding-right: 5px;
}

.box {
    background: white;
}

.online-players {
    display: block;
    width: 25vw;
    height: 50vh;
    background: #000a;
    backdrop-filter: blur(2px);
    font-size: xx-large;
    padding: 5px;
    border-radius: 10px;
    color: white;
    overflow: hidden;
    word-wrap: none;
}

@media screen and (orientation: portrait) {
    .online-players {
        width: 75vw;
    }
}

.online-players .title .title-text {
    display: block;
    width: 90%;
    text-align: center;
    overflow: hidden;
    padding: 5px;
    margin: auto;
    border-bottom: 1px dashed #000a;
}

.online-players .refresh-button {
    transform: scale(.5);
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: lighter;
    opacity: .75;
    cursor: pointer;
    transition: .3s ease;
}

.online-players .refresh-button:hover {
    transform: scale(.6);
    opacity: 1;
}

.online-players .player-list {
    display: block;
    width: 90%;
    padding: 0 5%;
    height: 85%;
    margin: auto;
    overflow: auto;
}

.online-players .player-list::-webkit-scrollbar {
    width: 4px;
}

.online-players .player-list::-webkit-scrollbar-track {
    background: #000a;
}

.online-players .player-list::-webkit-scrollbar-thumb {
    background: #888;
}

.online-players .player-list .user {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s ease;
}

.online-players .player-list .user .user-icon {
    width: 35px;
    height: 35px;
    background: #fffa;
    border-radius: 50%;
    transition: .3s ease;
}

.online-players .player-list .user .user-icon .icon {
    width: 35px;
    height: 35px;
    background: url('../images/user.png') center no-repeat;
    background-size: contain;
    filter: grayscale(1);
    transition: .3s ease;
}

.online-players .player-list .user:hover .user-icon .icon {
    filter: grayscale(0);
}

.online-players .player-list .user .user-id {
    width: 25px;
    padding: 0 10px;
    transition: .3s ease;
    font-size: large;
    text-align: right;
}

.online-players .player-list .user .user-name {
    flex: 1;
    transition: .3s ease;
}

.online-players .player-list .user .user-ping {
    font-size: medium;
    /* text-shadow: 0 0 2px #0004; */
}

.keybinds {
    display: flex;
    padding-top: 0;
    flex-flow: wrap;
    width: 100%;
}

.keybind {
    display: flex;
    justify-content: start;
    width: 25vw;
    margin: 10px auto;
}

.keybind .keybind-button {
    display: flex;
    font-size: smaller;
    width: 25px;
    height: 25px;
    border: 4px solid white;
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #777;
    border-bottom-color: #777;
    overflow: hidden;
    background: #aaa;
    color: black;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
    margin-left: 40px;
}

.keybind .keybind-button.keybind-long {
    width: 50px;
}

.keybind .keybind-button.keybind-med {
    width: 32px;
}

.keybind .keybind-description {
    display: flex;
    font-size: smaller;
    height: 34px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

@media screen and (orientation: portrait) {
    .keybinds {
        display: flex;
        padding-top: 0;
        flex-flow: wrap;
        width: 100%;
    }

    .keybind {
        display: flex;
        width: 100%;
        margin: 10px auto;
    }
}

.keybind-group-title:not(:first-of-type) {
    margin-top: 20px;
}
