.main-content {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}

.header {
    position: relative;
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    margin: auto;
    color: white;
    z-index: 999;
}

.footer {
    position: sticky;
    bottom: 0;
    width: 80%;
    height: 100px;
    margin: auto;
    text-align: center;
    color: white;
}

.pages-indicator {
    display: flex;
    width: 20%;
    margin: auto;
    margin-bottom: 20px;
    justify-content: space-around;
}

.pages-indicator .page-indicator {
    width: 20px;
    height: 6px;
    border-radius: 5px;
    background: white;
    opacity: .25;
    transition: .3s ease;
}

.pages-indicator .page-indicator.active {
    width: 40px;
    opacity: 1;
}

.menu-list {
    width: auto;
    color: white;
    text-decoration: none;
    font-size: 24px;
    opacity: .5;
    transition: .5s ease;
}

.menu-list.active, .menu-list:hover {
    opacity: 1;
}

main.content {
    width: 100vw;
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-logo .isekai-corp {
    width: 80vw;
    height: 25vw;
    margin: auto;
    opacity: 0;
    background: url('../images/logo/logo.png') center no-repeat;
    background-size: contain;
    transition: opacity 5s ease, height 7s ease;
}

#page-logo.active .isekai-corp {
    opacity: 1;
    height: 15vw;
}

.page {
    position: fixed;
    width: 100vw;
    left: 100vw;
    opacity: 0;
    transition: opacity .3s ease, left .5s ease;
}

.page.active {
    left: 0vw;
    opacity: 1;
}

.sc-button {
    width: 400px;
    height: 190px;
    margin: auto;
    transition: .3s ease;
    cursor: pointer;
}

.sc-button:hover {
    transform: scale(1.05);
}

.sc-button#fivem-connect {
    background: url('../images/buttons/fivem.png') center no-repeat;
    background-size: contain;
}

.sc-button#discord-join {
    background: url('../images/buttons/discord.png') center no-repeat;
    background-size: contain;
}

.sc-paper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 808px;
    height: 1051px;
    margin: auto;
    background: url('../images/paper_scroll.png') center no-repeat;
    background-size: contain;
    transform: scale(1);
    transition: .3s ease;
    z-index: 2;
    cursor: default;
}

.sc-paper:hover {
    transform: scale(1.2);
}

.sc-paper .sc-paper-content {
    width: calc(56% - 40px);
    height: calc(37% - 40px);
    margin: auto;
    padding: 20px;
    font-size: 18px;
    overflow: auto;
    text-shadow: 0 0 2px #ffffff44;
    cursor: default;
}

.sc-paper .sc-paper-content::-webkit-scrollbar {
    width: 12px; /* Lebar scrollbar */
}

ol, ul {
    margin-left: 20px;
    cursor: default;
}